body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  left: 25%;
  top: 30px;
  width: 50%;
  background-color: #00ced1;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

input {
  height: 30px;
  width: 80%;
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #00b3b3;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: #007575;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

button {
  text-decoration: none;
  border: none;
  background-color: #00ced1;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #008b8b;
  transform: translateY(-3px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

#typing-area {
  margin-bottom: 20px;
}

#result {
  display: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  color: #333;
  background-color: #e0f7fa;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}
